/* globals  */
html {
    font-family: 'Roboto Mono', monospace;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --mainColor: #017a9b;
    --mainMargin: 25px;
}

/* globals end  */

.container {
    margin-right: auto;
    margin-left: auto;
}

/* small  */


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium  */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large  */

@media (min-width: 1200px) {
    .container {
        width: 50%;
    }
}
/* nav */
    
nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}

nav .logo img {
    width:100px;

}
/* nav  */
/* start parent  */ 
.parent{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px auto;
    border: 1px solid black;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .parent {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.parent .buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.parent .buttons label {
    display: block;
    width: 50%;
    padding: 20px;
    border-bottom: 1px solid black;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.2s;
}

.parent .buttons label:first-child {
    border-right: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 10px;
}

.parent .buttons label:nth-child(2) {
    border-top-right-radius: 10px;
}

@media (max-width: 768px) {
    .parent .buttons label{
        font-size: 25px;
        padding: 15px;
        font-weight: 600;
    }
}

.parent .buttons label:hover {
    background-color: #eee;
}

.parent .buttons label:active {
    background-color: #ccc;
}

.parent .log-in-containt,
.parent .sign-up-containt,
.parent .change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 25px;
    font-weight: 800;
    margin: 10px 0 20px 0;
}

.parent .sign-up-containt {
    display: none;
}

@media (max-width: 768px) {
    .parent .log-in-containt form,
    .parent .sign-up-containt form,
    .parent .change-password form{
        font-size: 18px;
    }
}

.parent #log:checked + .sign-up-containt ,
.parent #sign:checked + .log-in-containt {
    display: none;
}

.parent .log-in-containt form,
.parent .sign-up-containt form,
.parent .change-password form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parent .log-in-containt h2,
.parent .sign-up-containt h2,
.parent .change-password h2 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 500;
}

@media (max-width: 768px) {
    .parent .log-in-containt form h2,
    .parent .sign-up-containt form h2,
    .parent .change-password form h2 {
        font-size: 30px;
        padding: 10px;
    }
}

.parent .log-in-containt form .with-log,
.parent .sign-up-containt form .with-sign {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 20px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 10px;
    border: 2px solid black;

}

@media (max-width: 768px) {
    .parent .log-in-containt form .with-log,
    .parent .sign-up-containt form .with-sign {
        padding: 15px;
        font-size: 12px;
}
}



.parent .log-in-containt .with-log:hover,
.parent .sign-up-containt .with-sign:hover {
    background-color: #eee;
}

.parent .log-in-containt .with-log:active,
.parent .sign-up-containt .with-sign:active {
    background-color: #ccc;
}


.parent .log-in-containt .with-log h3,
.parent .sign-up-containt .with-sign h3 {
    word-spacing: -7.5px;
}

.parent .log-in-containt .with-log i,
.parent .sign-up-containt .with-sign i {
    color: #DB4437;
}

.parent .log-in-containt input,
.parent .sign-up-containt input,
.parent .sign-up-containt select,
.parent .change-password input {
    display: block;
    width: 80%;
    padding: 20px 15px;
    border-radius: 10px;
    margin: var(--mainMargin) 0;
    border-width: 0.5px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .parent .log-in-containt input,
    .parent .sign-up-containt input,
    .parent .change-password input {
        padding: 10px;
    }
}

.parent .log-in-containt input:hover,
.parent .sign-up-containt input:hover,
.parent .change-password input:hover {
    background-color: #eee;
}

.parent .log-in-containt input:focus,
.parent .sign-up-containt input:focus,
.parent .change-password input:focus {
    background-color: #ddd;
    border-width: 1px;
}

.parent .log-in-containt .log-in,
.parent .sign-up-containt .sign-up,
.parent .change-password .change {
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    margin: var(--mainMargin) 0;
    border: none;
    background-color: var(--mainColor);
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

@media (max-width: 768px) {
    .parent .log-in-containt .log-in,
    .parent .sign-up-containt .sign-up,
    .parent .change-password .change {
        width: 30%;
    }
}

.parent .log-in-containt .log-in:hover,
.parent .sign-up-containt .sign-up:hover,
.parent .change-password .change:hover {
    background-color: #006a87;
}

.parent .log-in-containt .log-in:active,
.parent .sign-up-containt .sign-up:active,
.parent .change-password .change:active {
    background-color: #005b74;
}

.parent .log-in-containt a,
.parent .change-password a {
    font-size: 16px;
    color: var(--mainColor);
    margin: 20px 0;
    text-decoration: none;
}
.parent .log-in-containt a:hover,
.parent .change-password a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .parent .log-in-containt a,
    .parent .change-password a {
        font-size: 12px;
        word-spacing: -4px;
    }
}
/* end parent  */
